* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
a,
li {
  margin: 0;
  padding: 0;
}

a,
li,
ul,
button,
input {
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #702828;
}
